.logo{
    position: absolute;
    top:10px;
    left: 10px;
    width: 100px;
    margin-bottom: 4em;
}
input,select{
    height: 60px;
}
nav{
    background-color: #000 !important;
    display: flex;
    justify-content: space-between;
}
.next{
    background-color: #a12b2a;
    color:#fff;
    width: 97%;
    height: 50px;
    margin-top: 3em;
    position: absolute;
    bottom: 30px;
    left: 1.5%;
    
}
.main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: #000; */
}
.title{
    margin-bottom: 3em;
}
.section{
    /* display: flex; */
    flex-direction: column;
    justify-content: center !important;
    display: none;
    animation: next 1s;
}

@keyframes next {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}

.one{
    display: flex;
}
.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-pass{
    width: 200px;
    margin: 0 auto;
}